#navigation-bar {
    background: white;
    color: black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    padding: 10px, 45vw, 10px, 45vw;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;

}

.navigation-item {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    transition: background 0.25s ease-in;

}

.navigation-item:hover {
    background-color: black;
    color: white;
}